:root {
  --font-family: AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;;
}
  
html {
  background-color: #eceef1;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  box-sizing: border-box;
}

form {
  display: block;
  padding: 30px;
  max-width: 1024px;
  margin: auto;
}

fieldset {
  background: white;
  margin: 0 auto;
}

label {
  display: block;
  padding: 0 15px;
}

input {
  display: block;
  font-family: var(--font-family);
  width: 300px;
  height: 30px;
  min-width: 160px;
  padding-left: 8px;
  padding-right: 6px;
  margin: 10px 0;
  border: 1px solid #c1c5c8;
  border-radius: 3px;
}

@media screen and (min-width: 768px) {
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}